* {
  margin: 0;
  padding: 0;
}
header{
  background-color: rgba(56,54, 55, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100px;
}
.brand {
  text-decoration: none;
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 52px;
  text-shadow:
  0 0 10px rgba(255 219 3),
  0 0 20px rgba(255 219 3);
  padding: 0 20px;

}
.about {
  color: white;
  padding-top: 40px;
  font-family: 'Benne', serif;
  font-size: 22px;
}
.brand:hover {
  color: white;
}
.name {
  height: 4000px;
}
.list {
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  display: flex;
}
.category-item {
  text-decoration: none;
  color: black;
  font-family: 'Lobster', cursive;
  padding: 0 20px;
}
.category-item:hover {
  color: black;
}
@media screen and (max-width: 900px) {
  
   .category {
     overflow: scroll;
     white-space: nowrap;
     background-color: red;
     width: 700px;
   }
   .list {
     padding-top: 10px;
   }
   .category-item {
     font-size: 14px;

     padding: 10px;
   }
}
